@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");

@import url("./constants.css");


/* COLORS */
.y {
  background-color: var(--yellow1);
  color: var(--g1);
}
.y-h {
  color: var(--g1);
}
.b {
  background-color: var(--g1);
  color: var(--yellow1);

}
.b-h {
  color:var(--g1);
}

.blk {
  color: var(--yellow1);
  border: var(--yellow1) solid 2px;
  background-color: var(--g1);
}
.blk:hover {
  background-color: var(--yellow1);
  color: var(--g1);
}

.yell {
  border: var(--g1) solid 2px;
  background-color: var(--yellow1);
  color: var(--g1);
}
.yell:hover {
  background-color: var(--g1);
  color: var(--yellow1);
}

.success {
  background-color: var(--green1);
}
.danger {
  background-color: var(--red1);
}

.adm{
  background-color: var(--pink1);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  color: #fff;
  flex-direction: column;
  font-family: var(--fira);
  overflow: hidden;

  height: 100vh;

  font-weight: 400;
}
.scrollable{
  padding-top: var(--nav-h);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.banner{
  color: var(--g1);
  height: var(--inp-lg-h);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adm-list{
  background-color: var(--g1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
}
.adm-list a{
  color: var(--g11);
  font-size: var(--lg-font);
  padding: var(--btn-lg-size);
  text-decoration: none;
  text-align: center;
  width: 100%;

}
.adm-list a:hover{
  background-color: var(--yellow2);
  color: var(--g1);
}

.nav-bar {
  width: 100%;
  height: var(--nav-h);
  display: flex;
  align-items: center;
  padding: 0 24px;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
}
.foot{
  background-color: var(--yellow1);
  width: 100%;
  height: 20vh;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
}

.heading {
  font-family: "Bebas Neue", cursive;
  letter-spacing: var(--heading-spacing);
  display: flex;
  font-style: normal;
  font-weight: 800;
}
.nav-link {
  display: flex;
  justify-content: space-between;
  /* background-color: var(--red1); */
  align-items: center;
  justify-self: flex-end;
  width: 189px;
}
.nav-link a {
  color: var(--g1);
  text-decoration: none;
}
.active {
  font-weight: 500;
}
.first {
  width: 100%;
  height: 50vh;
  align-items: center;
  display: flex;
  color: var(--yellow1);
  justify-content: center;
}
.box {
  width: 100%;
  font-family: var(--fira);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box p {
  font-size: 49px;
}
.box h1 {
  font-size: 139px;
}
.box .month {
  font-size: 21px;
}

.section{
  width: 100%;
  height: 50vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.second .box {
  background-color: var(--yellow1);
  color: var(--g1);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  text-decoration: none;
  padding: var(--btn-lg-size);
  font-family: var(--fira);
  font-size: var(--lg-font);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--btn-lg-margin);
}


.sml {
  color: var(--g1);
  display: flex;
  font-size: 13px;
  
}

.icon {
  color: var(--g1);
  display: flex;
  align-items: center;
  
}

/* INPUT */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input {
  background-color: transparent;
  width: var(--inp-lg-w);
  height: var(--inp-lg-h);
  font-size: var(--lg-font);
  font-family: var(--fira);
  padding-left: 8px;
  border: var(--g1) solid 2px;
}
.input::placeholder {
  font-size: 21px;
  padding-left: 4px;
  color: var(--g1);
}

.inp {
  display: flex;
  flex-direction: column;
  color: var(--g1);
  display: flex;
  justify-content: center;
}
.inp label {
  padding: 8px 0;
  font-size: 13px;
}

.input:focus {
  outline: none;
}

.yellow {
  background-color: var(--yellow1);
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  color: var(--yellow1);
  justify-content: flex-start;
  padding-top: 89px;
  flex-direction: column;
}

.link {
  color: var(--g1);
}
.link-box {
  margin-top: 24px;
}

.alert {
  color: var(--g1);
  font-family: var(--fira);
  font-weight: 400;
  padding: 8px 0;
  width: var(--inp-lg-w);
  text-align: center;
  margin-top: 8px;
}



.link-tray {
  display: none;
}
.b-icon {
  display: none;
}

/* MOBILES */
@media only screen and (max-width: 768px) {
  .b-icon {
    color:var(--g1);
    display: flex;
    
  }
  .c-icon{
    color:#fff;
  }
  .input {
    height: var(--inp-sm-h);
    width: var(--inp-sm-w);
    font-size: var(--sm-font);
  }
  .input::placeholder {
    font-size: var(--sm-font);
  }
  .inp label{
    font-size: 11px;
  }
  .btn {
    padding: var(--btn-sm-size);
    margin-top: var(--btn-sm-margin);
    font-size: var(--sm-font);
  }

  .heading {
    font-size: 16px;
  }

  .nav-link {
    display: none;
  }
.sml{
  font-size: 8px;
}

  /* LINK TRAY */
  .link-tray {
    display: flex;
    background-color: var(--g1);
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
    top: -79px;
    transition: 0.5s;
  }
  .link-tray a {
    padding: 15px;
    color: #fff;
    text-decoration: none;
  }
  .link-tray a:hover{
    background-color: var(--yellow1);
    color: var(--g1);
    
  }
  .link-tray i {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
  }
}
